---
Language: Cpp
AccessModifierOffset: '-2'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AlwaysBreakTemplateDeclarations: 'No'
BasedOnStyle: Google
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: 'true'
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
EmptyLineBeforeAccessModifier: LogicalBlock
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
IndentWidth: '4'
NamespaceIndentation: All
QualifierAlignment: Left
SeparateDefinitionBlocks: Always